</div>

<div class="form_container">
<form id="LoginF" method="POST" action="/login.php">
    <fieldset>
    <input placeholder="EMAIL" type="email" name="email" data-validation="email"><br>
    </fieldset>
    <fieldset>
    <input placeholder="PASSWORD" type="password" name="password" data-validation="required"><br>
    </fieldset>
    <span id='msg'></span>
    <fieldset>
    <button form="LoginF" type="submit"><span id="Submit">Log In</span></button>
    </fieldset>
</form>
    <h4>Not a member? <a href='/register.php'>Register</a></h4>
</div>