<form id="postF" method="POST" enctype="multipart/form-data" action="postad.php" class="form_container">
    <fieldset><select name="category">
        <option value="0" selected disabled><span style="font-family:trial">Select Category</span></option>
        <option value="1"><span id="option_font">Books</span></option>
        <option value="2"><span id="option_font">Clothing</span></option>
        <option value="3"><span id="option_font">Electronics</span></option>
        <option value="4"><span id="option_font">Furniture</span></option>
        <option value="5"><span id="option_font">Sports</span></option>
        <option value="6"><span id="option_font">Vehicle</span></option>
        <option value="7"><span id="option_font">Others</span></option>
    </select></fieldset><br>
    <fieldset><input type="text" name="title" placeholder="Item Title (Min. length 4 char)"></fieldset><br>
    <fieldset><textarea type="text" name="desc" placeholder="Item description (Max. length 200 char)"></textarea></fieldset><br>
    <fieldset><textarea type="text" name="contact" placeholder="Contact info (Min. length 4 char)"></textarea></fieldset><br>
    <fieldset><span id="gender"><input type="radio" name="choice" value="1">Donate
    <input type="radio" name="choice" value="0">Sell<br></span></fieldset>
    <fieldset><input type="text" name="price" placeholder="Your Price (In Rs.)"></fieldset><br>
    <fieldset><input type="hidden" name="MAX_FILE_SIZE" value="30000000"></fieldset>
    <fieldset><span id="gender"><div class="upload-div">Upload Image: <input class="upload-img" type="file" name="image"></div></span></fieldset><br>
    <fieldset><button type="submit" form="postF"><span id="Submit">Submit</span></button></fieldset>
</form>
<ul id="msg"></ul>