</div>
<form id="postF" method="POST" enctype="multipart/form-data" action="postad.php" class="form_container">
    <fieldset><select name="category" id="category_sell" data-validation="required" autofocus>
        <option value="0" selected disabled><span style="font-family:trial">Select Category</span></option>
        <option value="1"><span id="option_font">Books</span></option>
        <option value="2"><span id="option_font">Clothing</span></option>
        <option value="3"><span id="option_font">Electronics</span></option>
        <option value="4"><span id="option_font">Furniture</span></option>
        <option value="5"><span id="option_font">Sports</span></option>
        <option value="6"><span id="option_font">Vehicle</span></option>
        <option value="7"><span id="option_font">Others</span></option>
    </select></fieldset><br>
    <fieldset><input type="text" name="title" placeholder="Item Title (Min. length 4 char)" data-validation="length" data-validation-length="min4"></fieldset><br>
    <fieldset><textarea type="text" name="desc" placeholder="Item description (Max. length 200 char)" data-validation="length" data-validation-length="max200"></textarea></fieldset><br>
    <fieldset><textarea type="text" name="contact" placeholder="Contact info (Min. length 4 char)" data-validation="length" data-validation-length="min4"></textarea></fieldset><br>
    <fieldset><span id="gender"><input type="radio" name="choice" value="1" data-validation="required">Donate
    <input type="radio" name="choice" value="0">Sell<br></span></fieldset>
    <fieldset><input type="text" name="price" placeholder="Your Price (In Rs.)" data-validation="number" data-validation-allowing="float"></fieldset><br>
    <!--<fieldset><input type="hidden" name="MAX_FILE_SIZE" value="30000000"></fieldset>-->
    <fieldset>Upload Image: <input type="file" name="image" data-validation="mime size required" data-validation-allowing="jpg, png" data-validation-max-size="300kb" data-validation-error-msg-required="No image selected"></fieldset><br>
		  
    <fieldset><button type="submit" form="postF"><span id="Submit">Submit</span></button></fieldset>
</form>
<ul id="msg"></ul>