</div>

<div class= "form_container">
<form id="RegisterF" method="POST" action="/register.php">
    <fieldset>
    <input placeholder="Email address" type="email" name="email" data-validation="email" required autofocus><br>
    </fieldset>
    <fieldset>
    <input placeholder="Name" type="text" name="name" data-validation="required" required><br>
    </fieldset>
    <fieldset>
    <select name='cid' data-validation="required">
	    <option value='0' selected disabled>Select College</option>
        <option value=31>Indian Institute of Technology, Delhi</option>
        <option value=33>Indian Institute of Technology, Guwahati</option>
        <option value=12>Birla Institute of Technology and Science, Pilani</option>
        <option value=78>National Institute of Technology, Jaipur</option>
        <option value=18>Delhi Technological University, New Delhi</option>
    </select><br>
    </fieldset>
    <fieldset>
    <input placeholder="Password" type="password" name="pwd" data-validation="length" data-validation-length="6-40"><br>
    </fieldset>
    <fieldset>
    <input placeholder="Retype Password" type="password" name="rpwd" data-validation="confirmation"><br>
    </fieldset>
    <fieldset>
    <span id="gender">Gender:
        <input type="radio" name="sex" value="0" required data-validation="required">M 
        <input type="radio" name="sex" value="1">F
        </span>
        <br>
        </fieldset>
    <fieldset>
    <button type="submit" form="RegisterF" name="submit"><span id="Submit">Register</span></button>
    </fieldset>
</form>

<ul id="msg"></span>